{% extends 'base.html' %}

{% block content %}
<h1>Ingredient List</h1>
{% if ingredients %}
<h2>MyPantry Possible Ingredients: {% if total_ingredients %}{{total_ingredients}}{% endif %}</h2>
<table class="table">
  <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Ingredient Name</th>
        <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
{% for ingredient in ingredients %}
  <tr>
    <td scope="row">{{ ingredient.id }}</td>
    <td>{{ ingredient.name }}</td>
    <td>{{ ingredient.category }}</td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No Ingredients :(</p>
{% endif %}
{% endblock %}
