
{% extends 'base.html' %}

{% block content %}

  <style>
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
  </style>
  <div class="container-fluid mh-100">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h1">Login</h1>
      </div>

    <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Login</div>
        <div class="card-body text-info">
            <h5 class="card-title">OAuth</h5>
            <p class="card-text">Please use one of the following two options to log in</p>
            <div class="form-group">
              <a href="{% url 'social:begin' 'github' %}">
                  <button type="button" class="btn btn-dark form-control">Log in with Github</button>
              </a>
            </div>
            <div class="form-group">
                <a href="{% url 'social:begin' 'twitter' %}">
                    <button type="button" class="btn btn-primary form-control">Log in with Twitter</button>
                </a>
            </div>
        </div>
    </div>
</div>




{% endblock %}
