{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Recipe{% if recipe %} &mdash; {{ recipe.name }}{% endif %}</h1>
</div>
{% if recipe %}
<div class="card text-center">
  <div class="card-header">
    {{ recipe.name }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ recipe.name }} <form action="/pantry/{% if is_favorite %}unfavorite{% else %}favorite{% endif %}/" method="post">{% csrf_token %}<input type="hidden" name="recipe_id" value="{{ recipe.id }}" hidden> <input type="hidden" name="recipe_name" value="{{ recipe.name }}" hidden><button class="btn btn-primary" type="submit">{% if not is_favorite %}<span data-feather="star">{% else %}<span data-feather="check">{% endif %}</span></button></form></h5>
    <p>Yield: {{ recipe.yield }}</p>
    <p>Rating: {{ recipe.rating }}/5</p>
    <p>Total time: {{ recipe.totalTime }}</p>
    <p class="primary">Ingredients: </p>
    <ul class="list-group list-group-flush">
        {% for ingre in recipe.ingredientLines %}
        <li class="list-group-item">{{ ingre }}</li>
        {% endfor %}
    </ul>
  </div>
  <img class="card-img-bottom" src="{{ big_image_url }}" alt="Food pic">
  <div class="card-footer text-muted">
    Source: <a href="{{recipe.source.sourceRecipeUrl}}">{{ recipe.source.sourceDisplayName }}</a>
  </div>
</div>
<div class="row" style="margin-top: 25px;">
    <h3 class="h3">Restaurants you might like...</h3>
</div>
<div class="row">
{% if businesses %}
    <div class="card-columns">
    {% for business in businesses %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ business.image_url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ business.name }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Phone: {{ business.phone }}</li>
        <li class="list-group-item {% if business.is_closed %}bg-danger{% else %}bg-success{% endif %}">Hours: {% if business.is_closed %}CLOSED{% else %}OPEN{% endif %}</li>
        <li class="list-group-item">Rating: {{ business.rating }}/5</li>
        <li class="list-group-item">Reviews: {{ business.review_count }}</li>
      </ul>
    </div>
    {% endfor %}
    </div>
{% endif %}
</div>
{% endif %}
{% endblock %}
